#search_container{
    align-self: center;
    justify-self: center;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.form_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#search_input{
    height: 50px;
    align-self: center;
    margin: 10%;
}
#search_button{
    height: 50px;
    align-self: center;
    margin: 5%;
}
#attach_money{
    justify-self: center;
    text-align: center;
    font-size: 30vh;
    margin-right: 10%;
    margin-left: 10%;
    animation: spin 5000ms forwards;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
        color: #FFD700;
    }
}