.section-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-self: center;

}
.section-list{
    justify-self: center;
}
.section-item{
    width: 250px;
    height: 250px;
    object-fit: cover;
    justify-self: center;
}
.section-title{
    text-align: center;
}
.section-caption{
    align-self: center;
}
#section-button{
    justify-self: center;
    text-align: center;
    margin: 5%;
}